@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Outline text */
    .text-stroke {
        -webkit-text-stroke: 1px white;
        color: transparent;
    }

    .text-shadow {
        text-shadow: 0 5px 15px black;
    }
}